.btn-primary {
  position: relative;
}

.btn-primary .icon {
  position: absolute;
  left: 10px;
  top: 40%;
  transform: translateY(-50%);
}

.btn-primary .text {
  margin-left: 30px;
}
.btn-primary .text:hover {
  margin-left: 30px;
}

.slash {
  margin: 10px;
  align-self: flex-start;
  font-size: 25px;
}

.green-background {
  background-color: green;
  color: white; /* Optioneel, om het pictogram wit te maken op de groene achtergrond */
  display: inline-block; /* Zorg ervoor dat het element inline-block is om de padding goed weer te geven */
}

/* positie van de knop om in het midden te krijgen */
.btn-primary {
  margin: 30px;
}
