#test{
    margin: auto;
    width: 500px;
    height: 500px;
    background-color: aqua;
    display: flex;
    flex-direction:column ;
}

.testButton {
    color: black;
    margin-top: 4%;
    width: 50%;
    height: 100px; 
}